@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

header {
    height: 10em;
    text-align: center;
    background-color: blue;
    color: white;
    padding-top: 1em;
}

header img {
    height: 5em;
}

header h1 {
    font-family: 'Open Sans';
    font-size: 3em;
}

section#main {
    margin: 0 auto;
    padding: 1em;
    width: 40%;
    /* background-color: aquamarine; */
}

section#listaTarefas {
    margin-top: 1em;
    padding: 0 1em;
}

input#inp-Tarefa {
    height: 2em;
    width: 80%;
    border-radius: .5em;
    border-width: 1px;
    padding-left: .5em;
}

input#btn-adicionar {
    width: 17%;
    height: 2.3em;
    padding: 0 1em;
    border-radius: .5em;
    border-width: 1px;
    background-color: green;
    color: white;
}

.chk-status {
    float: left;
    margin-right: .5em;
    margin-top: .4em;
}

.btn-apagar {
    float: right;
    vertical-align: middle;
    height: 2em;
    width: 2em;
}

.img-btn-apagar {    
    max-height: 1.5em;
    max-width: 1.5em;
}

.tarefa {
    float: left;
    max-width: 28em;
}

.div-tarefa {
    clear: both;
    height: 2em;    
}